body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#title {
    color: blue;
    transition: color 0.5s;
}

.highlight {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

h1 {
    font-size: 24px;
    margin: 20px 0;
    animation: alternate-reverse;
}